@charset "utf-8";
body {
    font-family: "Merriweather";
    margin: 0
}

#top {
    background: #2980b9;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 25px
}

h1,
h2,
p {
    margin: 0
}

#top h1 {
    margin-bottom: 10px
}

#bottom {
    text-align: center;
    font-weight: 700;
    background-color: #7F7E7E;
    line-height: 30px;
    margin-top: 30px
}

.wrapper {
    text-align: center;
    position: relative;
}

#main {
    line-height: 25px;
}

#main h1,
#main h2 {
    margin: 10px 0 15px;
}

#main img {
    display: block;
    margin: 20px auto;
    border: 2px solid #2980b9;
    border-radius: 30px 30px 0 0;
}

.keyword {
    font-size: italic;
}

#sidebar {
    position: absolute;
    top: 0;
    /*right: 15px;
	width: 270px;*/
    font-size: 14px;
    border: 10px dashed #2980b9;
    padding: 0 0 20px 20px;
    right: 40px;
    width: 500px;
    height: 204px;
}

#sidebar img {
    max-width: 100%;
    margin-top: 20px;
}

a {
    color: #2980b9
}

a:hover {
    color: #e74c3c;
}